@mixin flex-row($justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-col($justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin text($size, $weight: 400, $color: inherit) {
    font: {
        size: $size;
        weight: $weight;
    }
    color: $color;
    @content;
}

@mixin size($size, $round: false) {
    width: $size;
    height: $size;
    flex-shrink: 0;
    @if $round {
        border-radius: 50%;
    }
    @content;
}

@mixin svg($size: 16px, $color: black) {
    width: $size;
    height: $size;
    fill: $color;
    transition-property: fill, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    flex-shrink: 0;
    @content;
}

@mixin position($top: 0, $right: 0, $bottom: 0, $left: 0) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin transition($types...) {
    transition-property: $types;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    @content;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

$z-index: (
    immortal: 100,
    activeMenu: 26,
    menu: 25,
    menuLayer: 24,
    popup2: 20,
    popup: 15,
    drawer: 12,
    navigation: 10,
    popover-target: 6,
    popover: 5,
    popover-hover: 4,
    dropdown-placeholder: 1,
    dropdown: 3,
    line: 2,
    wrapper: 1,
    default: 0,
    under: -1
);

@mixin z-index($key: default) {
    z-index: z-index($key);
}

@function z-index($key) {
    @return map-get($z-index, $key);
}

/* Screens */
$screen-iphone-6: 376px;
$screen-iphone-plus: 415px;
$screen-tablet-small: 480px;
$screen-tablet: 769px;
$screen-tablet-large: 861px;
$screen-netbook: 993px;
$screen-desktop: 1025px;
$screen-desktop-large: 1281px;
$screen-hd: 1367px;
$screen-fullhd: 1441px;
$screen-retina: 1701px;

@mixin media($screen: $screen-netbook) {
    @media screen and (min-width: $screen) {
        @content;
    }
}

@mixin mogo-title-line($bg-color: $R10, $bottom: -40px, $center: true) {
    position: relative;
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 60px;
        height: 3px;
        background-color: $bg-color;
        bottom: $bottom;
        left: 0;
        @if $center {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@mixin padding-hack($padding: 50%, $size: cover, $dev: false) {
    position: relative;
    height: 0;
    padding-bottom: $padding;
    @if $dev {
        background-color: red;
    }
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: $size;
        @if $dev {
            object-fit: contain;
        }
    }
}

@mixin bhromaon-btn($width: 225px) {
    background-color: $main-color;
    color: $white;
    height: 60px;
    min-width: $width;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    font-family: $aleo;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    &:hover {
        background-color: darken($main-color, 20%);
        &:after {
            content: "";
            display: block;
            width: 140px;
            height: 80px;
            background-color: $btn-hover-color;
            position: absolute;
            left: -25px;
            bottom: -35px;
            transform: rotate(45deg);
            pointer-events: none;
            opacity: 0.5;
            z-index: 2;
        }
    }
}
