.why-choose-us {
    // padding: 155px 0 0px;
    // background: url('../img/why-choose-bg.jpg') center no-repeat;
    // background-size: cover;
    &__img-container {
        padding: 155px 0 0px;
        background: url('../img/why-choose-bg.jpg') center no-repeat;
        background-size: cover;
    }
    &__container {
        @include flex-row;
        padding-bottom: 120px;
    }
    &__info {
        flex: 1 1 calc(50% - 15px);
        margin-right: 105px;
        max-width: 530px;
    }
    &__pictures {
        flex: 1 1 calc(50% - 15px);
        max-width: 475px;
    }
    
    &__title {
        margin-bottom: 62px;
    }
    &__text {
        line-height: 1.63;
        letter-spacing: 1.6px;
        margin-bottom: 48px;
        &:first-of-type {
            margin-bottom: 20px;
        }
    }
    &__link {
        @include bhromaon-btn;
    }

    &__img-wrapper {
        &:first-child {
            margin-bottom: 5px;
        }
        &:nth-child(2) {
            margin-left: 125px;
        }
    }
}

.icons {
    background: #333333 url('../img/line.png') center no-repeat;
    background-position: 48% 19%;
    padding: 110px 0 116px;
    color: $light-grey;
    &__container {
        padding: 0 66px;
    }
    &__list {
        @include flex-row(space-between, center);
    }
    &__item {
        @include text($H360);
        font-family: $aleo;
        text-transform: capitalize;
        line-height: 1;
        // display: flex;
        // flex-direction: column;
        @include flex-col(center);
        &:before {
            content: '';
            display: inline-block;
            width: 96px;
            height: 96px;
            
            background: $dark-grey url('../img/search.png') center no-repeat;
            border-radius: 50%;
            transform: translate(50%, -10%);
        }
        &:nth-of-type(2):before {
            background: $dark-grey url('../img/done.png') center no-repeat;
        }
        &:nth-of-type(3):before {
            background: $dark-grey url('../img/like.png') center no-repeat;
        }
    }
}

